@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Roboto', sans-serif;
}

.calulator-button {
    background-color: #baffff;
    width: 75px;
    height: 75px;
    font-size: 2.5em;
    font-weight: 300;
    border-style: outset;
    border: none;
    outline: none;
}

    .calulator-button:hover {
        background-color: #84ffff;
    }

    .calulator-button:active {
        background-color: #4bcbcc;
    }

    .calulator-button, tr, td {
        padding: 2.5px;
    }

    button:focus {
        outline: 0;
    }

.calculator-text-div {
    display: block;
    width: 100%;
}

.calculator-input {
    height: 100px;
    font-size: 2em;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    border-color: #b2ebf2;
    background-color: #e5ffff;
    border-style: solid;
    outline: none;
}

textarea:focus {
    outline: 0;
}

.calculator-history {
    height: 400px;
    border-color: blue;
    border: dotted;
}

@media (min-width: 576px) {
    .calulator-button {
        background-color: #baffff;
        width: 100px;
        height: 100px;
        font-size: 2.5em;
        font-weight: 300;
        border-style: outset;
        border: none;
        outline: none;
    }

    .calculator-input {
        height: 100px;
        font-size: 3.5em;
        width: 100%;
        text-align: right;
        padding-right: 10px;
        border-color: #b2ebf2;
        background-color: #e5ffff;
        border-style: solid;
        outline: none;
    }
}